.plot
{
    display: block;
    color:white;
    border: 1px rgb(150,0,0) groove;
    margin: 20px auto;
    width: 90%;
    height: auto;
    box-shadow: 0 4px 8px rgba(150,0,0,0.5);
    padding: 25px;
}

img
{
    width: 600px;
    float:left;
    margin: 20px;
}

h1
{
    color: white;
    font-size: 120px;
}

h2
{
    font-size: 80px;
}

ul, li
{
    list-style-type: none;
    font-size: 30px;
    text-align: left;
}